<a href="https://colab.research.google.com/github/Shereen74/graduation_project/blob/main/PredictingEnergyConsumption_GP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%cd /content/drive/MyDrive/GP

/content/drive/MyDrive/GP

In [2]:
!pwd

/content/drive/MyDrive/GP

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

weather_data = pd.read_csv('./ashrae-energy-prediction/weather_train.csv')
building_data = pd.read_csv('./ashrae-energy-prediction/building_metadata.csv')

In [4]:
counter = 0
batch_size = 1000000
train_data = []
for chunk in pd.read_csv('./ashrae-energy-prediction/train.csv', chunksize=batch_size):

    train_data.append(chunk)
    counter += 1

train_data

[        building_id  meter            timestamp  meter_reading
 0                 0      0  2016-01-01 00:00:00         0.0000
 1                 1      0  2016-01-01 00:00:00         0.0000
 2                 2      0  2016-01-01 00:00:00         0.0000
 3                 3      0  2016-01-01 00:00:00         0.0000
 4                 4      0  2016-01-01 00:00:00         0.0000
 ...             ...    ...                  ...            ...
 999995         1244      1  2016-01-19 03:00:00        22.9297
 999996         1244      3  2016-01-19 03:00:00      1050.9600
 999997         1245      0  2016-01-19 03:00:00        65.6562
 999998         1245      1  2016-01-19 03:00:00         0.0000
 999999         1245      2  2016-01-19 03:00:00       867.3520

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 1000000         1246      0  2016-01-19 03:00:00        49.0000
 1000001         1246      1  2016-01-19 03:00:00         0.0000
 1000002         1246      3  2016-01-19 03:00:00         0.0000
 1000003         1247      0  2016-01-19 03:00:00       194.4000
 1000004         1247      1  2016-01-19 03:00:00         0.0000
 ...              ...    ...                  ...            ...
 1999995          777      0  2016-02-06 06:00:00       175.4670
 1999996          777      1  2016-02-06 06:00:00         0.0000
 1999997          778      0  2016-02-06 06:00:00       230.0000
 1999998          778      1  2016-02-06 06:00:00         0.0000
 1999999          779      0  2016-02-06 06:00:00        86.3555

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 2000000          780      0  2016-02-06 06:00:00       663.4330
 2000001          780      1  2016-02-06 06:00:00         0.0000
 2000002          781      0  2016-02-06 06:00:00       125.4830
 2000003          782      0  2016-02-06 06:00:00       476.2500
 2000004          784      0  2016-02-06 06:00:00       560.5330
 ...              ...    ...                  ...            ...
 2999995           43      0  2016-02-25 22:00:00         0.0000
 2999996           44      0  2016-02-25 22:00:00         0.0000
 2999997           45      0  2016-02-25 22:00:00         0.0000
 2999998           46      0  2016-02-25 22:00:00         4.0954
 2999999           47      0  2016-02-25 22:00:00         0.0000

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 3000000           49      0  2016-02-25 22:00:00          0.000
 3000001           50      0  2016-02-25 22:00:00          0.000
 3000002           51      0  2016-02-25 22:00:00          0.000
 3000003           52      0  2016-02-25 22:00:00          0.000
 3000004           53      0  2016-02-25 22:00:00        243.264
 ...              ...    ...                  ...            ...
 3999995          887      0  2016-03-16 19:00:00         48.000
 3999996          887      1  2016-03-16 19:00:00        173.205
 3999997          887      2  2016-03-16 19:00:00          0.000
 3999998          888      0  2016-03-16 19:00:00         90.000
 3999999          888      1  2016-03-16 19:00:00        503.050

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 4000000          888      2  2016-03-16 19:00:00        170.800
 4000001          889      0  2016-03-16 19:00:00         84.000
 4000002          889      1  2016-03-16 19:00:00        276.249
 4000003          889      2  2016-03-16 19:00:00         54.900
 4000004          890      0  2016-03-16 19:00:00        444.000
 ...              ...    ...                  ...            ...
 4999995          367      0  2016-04-04 22:00:00         50.850
 4999996          368      0  2016-04-04 22:00:00         26.240
 4999997          369      0  2016-04-04 22:00:00         16.310
 4999998          370      0  2016-04-04 22:00:00         46.240
 4999999          371      0  2016-04-04 22:00:00          4.020

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 5000000          372      0  2016-04-04 22:00:00        30.8800
 5000001          373      0  2016-04-04 22:00:00        50.6300
 5000002          374      0  2016-04-04 22:00:00       244.9600
 5000003          375      0  2016-04-04 22:00:00      1658.5700
 5000004          377      0  2016-04-04 22:00:00         8.8400
 ...              ...    ...                  ...            ...
 5999995          215      0  2016-04-22 17:00:00        35.7600
 5999996          215      1  2016-04-22 17:00:00        95.4121
 5999997          215      3  2016-04-22 17:00:00         5.8614
 5999998          216      0  2016-04-22 17:00:00       189.0600
 5999999          216      1  2016-04-22 17:00:00       594.2420

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 6000000          216      3  2016-04-22 17:00:00         0.0000
 6000001          217      0  2016-04-22 17:00:00       316.0600
 6000002          217      1  2016-04-22 17:00:00      1105.4200
 6000003          217      3  2016-04-22 17:00:00         0.0000
 6000004          218      0  2016-04-22 17:00:00        59.9400
 ...              ...    ...                  ...            ...
 6999995         1414      2  2016-05-10 11:00:00       727.7740
 6999996         1415      0  2016-05-10 11:00:00        16.3750
 6999997         1416      0  2016-05-10 11:00:00        18.4250
 6999998         1417      0  2016-05-10 11:00:00        45.5500
 6999999         1417      2  2016-05-10 11:00:00        31.9097

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 7000000         1418      0  2016-05-10 11:00:00        14.4750
 7000001         1418      2  2016-05-10 11:00:00       361.9780
 7000002         1419      0  2016-05-10 11:00:00         8.3500
 7000003         1420      0  2016-05-10 11:00:00       126.9250
 7000004         1420      2  2016-05-10 11:00:00        38.2903
 ...              ...    ...                  ...            ...
 7999995           10      0  2016-05-28 07:00:00      1191.7500
 7999996           11      0  2016-05-28 07:00:00       468.2360
 7999997           12      0  2016-05-28 07:00:00       172.3460
 7999998           13      0  2016-05-28 07:00:00       350.8360
 7999999           13      1  2016-05-28 07:00:00      2828.0900

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 8000000           14      0  2016-05-28 07:00:00       400.6630
 8000001           14      1  2016-05-28 07:00:00      1646.2000
 8000002           15      0  2016-05-28 07:00:00       256.6430
 8000003           15      1  2016-05-28 07:00:00      1941.6800
 8000004           16      0  2016-05-28 07:00:00      1182.7400
 ...              ...    ...                  ...            ...
 8999995          192      3  2016-06-15 01:00:00        32.2378
 8999996          193      0  2016-06-15 01:00:00         5.6600
 8999997          194      0  2016-06-15 01:00:00       104.8700
 8999998          194      1  2016-06-15 01:00:00        42.6946
 8999999          195      0  2016-06-15 01:00:00         7.0000

 [1000000 rows x 4 columns],
          building_id  meter            timestamp  meter_reading
 9000000          195      1  2016-06-15 01:00:00        41.6395
 9000001          195      3  2016-06-15 01:00:00         0.0000
 9000002          196      0  2016-06-15 01:00:00        48.2100
 9000003          197      0  2016-06-15 01:00:00        76.7700
 9000004          197      1  2016-06-15 01:00:00        41.9560
 ...              ...    ...                  ...            ...
 9999995          926      0  2016-07-02 19:00:00         0.0000
 9999996          926      1  2016-07-02 19:00:00         0.0000
 9999997          926      2  2016-07-02 19:00:00         0.0000
 9999998          927      0  2016-07-02 19:00:00         0.0000
 9999999          927      1  2016-07-02 19:00:00         0.0000

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 10000000          927      2  2016-07-02 19:00:00         0.0000
 10000001          928      0  2016-07-02 19:00:00         0.0000
 10000002          928      1  2016-07-02 19:00:00         0.0000
 10000003          928      2  2016-07-02 19:00:00         0.0000
 10000004          929      0  2016-07-02 19:00:00         0.0000
 ...               ...    ...                  ...            ...
 10999995         1402      2  2016-07-20 13:00:00        47.1753
 10999996         1403      0  2016-07-20 13:00:00        63.4750
 10999997         1404      0  2016-07-20 13:00:00       163.4000
 10999998         1404      1  2016-07-20 13:00:00        80.2605
 10999999         1405      0  2016-07-20 13:00:00       183.7500

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 11000000         1405      1  2016-07-20 13:00:00       129.2050
 11000001         1405      2  2016-07-20 13:00:00        40.9926
 11000002         1406      0  2016-07-20 13:00:00       160.9000
 11000003         1406      2  2016-07-20 13:00:00       136.0900
 11000004         1407      0  2016-07-20 13:00:00        68.0750
 ...               ...    ...                  ...            ...
 11999995          636      0  2016-08-07 12:00:00         0.1575
 11999996          637      0  2016-08-07 12:00:00         0.1750
 11999997          638      0  2016-08-07 12:00:00         2.3425
 11999998          639      0  2016-08-07 12:00:00         4.0000
 11999999          640      0  2016-08-07 12:00:00       357.0000

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 12000000          641      0  2016-08-07 12:00:00       433.0310
 12000001          642      0  2016-08-07 12:00:00         8.0000
 12000002          643      0  2016-08-07 12:00:00        70.2865
 12000003          644      0  2016-08-07 12:00:00       214.6070
 12000004          645      0  2016-08-07 12:00:00      1428.5400
 ...               ...    ...                  ...            ...
 12999995          291      0  2016-08-25 15:00:00       272.3500
 12999996          292      0  2016-08-25 15:00:00        57.9900
 12999997          293      0  2016-08-25 15:00:00       974.9300
 12999998          294      0  2016-08-25 15:00:00        40.8800
 12999999          295      0  2016-08-25 15:00:00       135.8900

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 13000000          296      0  2016-08-25 15:00:00         84.230
 13000001          297      0  2016-08-25 15:00:00        166.040
 13000002          298      0  2016-08-25 15:00:00         46.390
 13000003          299      0  2016-08-25 15:00:00        565.260
 13000004          300      0  2016-08-25 15:00:00        215.370
 ...               ...    ...                  ...            ...
 13999995          895      1  2016-09-12 08:00:00        200.074
 13999996          895      2  2016-09-12 08:00:00         73.200
 13999997          896      0  2016-09-12 08:00:00        318.000
 13999998          896      1  2016-09-12 08:00:00        732.138
 13999999          896      2  2016-09-12 08:00:00         54.900

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 14000000          897      0  2016-09-12 08:00:00         27.000
 14000001          898      0  2016-09-12 08:00:00         34.000
 14000002          898      1  2016-09-12 08:00:00        133.289
 14000003          898      2  2016-09-12 08:00:00         33.550
 14000004          899      0  2016-09-12 08:00:00        198.000
 ...               ...    ...                  ...            ...
 14999995          973      2  2016-09-30 01:00:00         21.350
 14999996          974      0  2016-09-30 01:00:00         74.000
 14999997          974      1  2016-09-30 01:00:00        162.056
 14999998          974      2  2016-09-30 01:00:00        109.800
 14999999          975      0  2016-09-30 01:00:00        277.000

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 15000000          975      1  2016-09-30 01:00:00       342.4710
 15000001          976      0  2016-09-30 01:00:00        32.0000
 15000002          976      1  2016-09-30 01:00:00        77.1597
 15000003          976      2  2016-09-30 01:00:00         3.0500
 15000004          977      0  2016-09-30 01:00:00        76.0000
 ...               ...    ...                  ...            ...
 15999995          183      3  2016-10-17 18:00:00         0.0000
 15999996          184      0  2016-10-17 18:00:00        47.4500
 15999997          184      1  2016-10-17 18:00:00        46.2466
 15999998          184      3  2016-10-17 18:00:00        11.7228
 15999999          185      0  2016-10-17 18:00:00       111.6600

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 16000000          186      0  2016-10-17 18:00:00          0.540
 16000001          187      0  2016-10-17 18:00:00         23.070
 16000002          187      1  2016-10-17 18:00:00        131.601
 16000003          187      3  2016-10-17 18:00:00          0.000
 16000004          188      0  2016-10-17 18:00:00         19.850
 ...               ...    ...                  ...            ...
 16999995          993      0  2016-11-04 12:00:00       1650.000
 16999996          993      1  2016-11-04 12:00:00       4426.480
 16999997          993      2  2016-11-04 12:00:00       1006.500
 16999998          994      0  2016-11-04 12:00:00        112.000
 16999999          994      1  2016-11-04 12:00:00        443.862

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 17000000          994      2  2016-11-04 12:00:00        67.1000
 17000001          995      0  2016-11-04 12:00:00        36.0000
 17000002          995      1  2016-11-04 12:00:00        69.4578
 17000003          995      2  2016-11-04 12:00:00        21.3500
 17000004          996      0  2016-11-04 12:00:00       136.0000
 ...               ...    ...                  ...            ...
 17999995         1198      0  2016-11-22 08:00:00        92.3470
 17999996         1198      2  2016-11-22 08:00:00      3179.6900
 17999997         1199      0  2016-11-22 08:00:00        22.4890
 17999998         1200      0  2016-11-22 08:00:00       637.0980
 17999999         1200      2  2016-11-22 08:00:00      4526.9300

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 18000000         1201      0  2016-11-22 08:00:00        40.2870
 18000001         1201      1  2016-11-22 08:00:00         0.0000
 18000002         1202      0  2016-11-22 08:00:00       176.1480
 18000003         1202      1  2016-11-22 08:00:00        81.9672
 18000004         1203      0  2016-11-22 08:00:00       107.0000
 ...               ...    ...                  ...            ...
 18999995           13      0  2016-12-10 13:00:00       306.1280
 18999996           13      1  2016-12-10 13:00:00       970.8380
 18999997           14      0  2016-12-10 13:00:00       479.8400
 18999998           14      1  2016-12-10 13:00:00      1899.4700
 18999999           15      0  2016-12-10 13:00:00       254.2540

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 19000000           15      1  2016-12-10 13:00:00       1603.990
 19000001           16      0  2016-12-10 13:00:00       1282.670
 19000002           17      0  2016-12-10 13:00:00        145.112
 19000003           18      0  2016-12-10 13:00:00       1986.520
 19000004           19      0  2016-12-10 13:00:00        173.643
 ...               ...    ...                  ...            ...
 19999995          918      2  2016-12-28 04:00:00         30.500
 19999996          919      0  2016-12-28 04:00:00         18.000
 19999997          920      0  2016-12-28 04:00:00         26.000
 19999998          920      1  2016-12-28 04:00:00         39.248
 19999999          920      2  2016-12-28 04:00:00         48.800

 [1000000 rows x 4 columns],
           building_id  meter            timestamp  meter_reading
 20000000          921      0  2016-12-28 04:00:00        362.000
 20000001          921      1  2016-12-28 04:00:00        925.248
 20000002          921      2  2016-12-28 04:00:00        384.300
 20000003          922      0  2016-12-28 04:00:00         86.000
 20000004          922      1  2016-12-28 04:00:00        236.156
 ...               ...    ...                  ...            ...
 20216095         1444      0  2016-12-31 23:00:00          8.750
 20216096         1445      0  2016-12-31 23:00:00          4.825
 20216097         1446      0  2016-12-31 23:00:00          0.000
 20216098         1447      0  2016-12-31 23:00:00        159.575
 20216099         1448      0  2016-12-31 23:00:00          2.850

 [216100 rows x 4 columns]]

In [5]:
Train_Data = pd.concat(train_data)
Train_Data.shape

(20216100, 4)

In [6]:
Train_Data.tail()

          building_id  meter            timestamp  meter_reading
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850

In [7]:
weather_data.tail()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
139768,15,2016-12-31 19:00:00,3.0,NaN,-8.0,NaN,NaN,180.0,5.7
139769,15,2016-12-31 20:00:00,2.8,2.0,-8.9,NaN,1007.4,180.0,7.7
139770,15,2016-12-31 21:00:00,2.8,NaN,-7.2,NaN,1007.5,180.0,5.1
139771,15,2016-12-31 22:00:00,2.2,NaN,-6.7,NaN,1008.0,170.0,4.6
139772,15,2016-12-31 23:00:00,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8

## Data Preprocessing

In [8]:
#Merging train data
train = Train_Data.merge(building_data, on='building_id', how='left')
train = train.merge(weather_data, on=['site_id', 'timestamp'], how='left')
train.tail(25)

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
20216075,1431,0,2016-12-31 23:00:00,87.9500,15,Public services,111360,2000.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216076,1431,2,2016-12-31 23:00:00,426.3400,15,Public services,111360,2000.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216077,1432,0,2016-12-31 23:00:00,403.4500,15,Education,160673,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216078,1433,0,2016-12-31 23:00:00,41.3500,15,Education,28084,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216079,1433,2,2016-12-31 23:00:00,3173.8800,15,Education,28084,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216080,1434,0,2016-12-31 23:00:00,70.7250,15,Education,33148,1967.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216081,1434,2,2016-12-31 23:00:00,259.0730,15,Education,33148,1967.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216082,1435,0,2016-12-31 23:00:00,4.7250,15,Education,9552,1961.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216083,1436,0,2016-12-31 23:00:00,11.6000,15,Manufacturing/industrial,11302,1937.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216084,1436,2,2016-12-31 23:00:00,1274.6600,15,Manufacturing/industrial,11302,1937.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216085,1437,0,2016-12-31 23:00:00,195.9250,15,Education,111518,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216086,1437,2,2016-12-31 23:00:00,1518.9200,15,Education,111518,1968.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216087,1438,0,2016-12-31 23:00:00,100.6750,15,Education,108971,1990.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216088,1438,2,2016-12-31 23:00:00,852.7700,15,Education,108971,1990.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216089,1439,0,2016-12-31 23:00:00,167.4000,15,Education,56497,1957.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216090,1440,0,2016-12-31 23:00:00,154.7500,15,Lodging/residential,150294,1987.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216091,1441,0,2016-12-31 23:00:00,242.9250,15,Education,30143,1951.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216092,1442,0,2016-12-31 23:00:00,59.4000,15,Public services,99541,1993.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216093,1442,2,2016-12-31 23:00:00,55.6241,15,Public services,99541,1993.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216094,1443,0,2016-12-31 23:00:00,64.9500,15,Education,40311,1913.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216095,1444,0,2016-12-31 23:00:00,8.7500,15,Entertainment/public assembly,19619,1914.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216096,1445,0,2016-12-31 23:00:00,4.8250,15,Education,4298,NaN,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216097,1446,0,2016-12-31 23:00:00,0.0000,15,Entertainment/public assembly,11265,1997.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216098,1447,0,2016-12-31 23:00:00,159.5750,15,Lodging/residential,29775,2001.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8
20216099,1448,0,2016-12-31 23:00:00,2.8500,15,Office,92271,2001.0,NaN,1.7,NaN,-5.6,-1.0,1008.5,180.0,8.8

In [9]:
#Data correction for site 0, electric meter type which is 0
mask = (train['site_id'] == 0) & (train['meter'] == 0)

# Update the values in the "meter_reading" column for the selected rows
train.loc[mask, 'meter_reading'] *= 0.2931

In [10]:
train.describe()

,building_id,meter,meter_reading,site_id,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,2.021610e+07,2.021610e+07,2.021610e+07,2.021610e+07,2.021610e+07,8.088455e+06,3.506933e+06,2.011944e+07,1.139074e+07,2.011596e+07,1.646708e+07,1.898443e+07,1.876705e+07,2.007242e+07
mean,7.992780e+02,6.624412e-01,2.109925e+03,7.992232e+00,1.077830e+05,1.968277e+03,4.184848e+00,1.598795e+01,1.900423e+00,7.747429e+00,7.964155e-01,1.016085e+03,1.730151e+02,3.377525e+00
std,4.269133e+02,9.309921e-01,1.532357e+05,5.099060e+00,1.171424e+05,3.020815e+01,4.008277e+00,1.094729e+01,2.402909e+00,1.017867e+01,7.468997e+00,7.060539e+00,1.140574e+02,2.265694e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.830000e+02,1.900000e+03,1.000000e+00,-2.890000e+01,0.000000e+00,-3.500000e+01,-1.000000e+00,9.682000e+02,0.000000e+00,0.000000e+00
25%,3.930000e+02,0.000000e+00,1.797590e+01,3.000000e+00,3.252700e+04,1.951000e+03,1.000000e+00,8.600000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.011600e+03,7.000000e+01,2.100000e+00
50%,8.950000e+02,0.000000e+00,7.509000e+01,9.000000e+00,7.270900e+04,1.969000e+03,3.000000e+00,1.670000e+01,0.000000e+00,8.900000e+00,0.000000e+00,1.016000e+03,1.800000e+02,3.100000e+00
75%,1.179000e+03,1.000000e+00,2.526000e+02,1.300000e+01,1.391130e+05,1.993000e+03,6.000000e+00,2.410000e+01,4.000000e+00,1.610000e+01,0.000000e+00,1.020500e+03,2.800000e+02,4.600000e+00
max,1.448000e+03,3.000000e+00,2.190470e+07,1.500000e+01,8.750000e+05,2.017000e+03,2.600000e+01,4.720000e+01,9.000000e+00,2.610000e+01,3.430000e+02,1.045500e+03,3.600000e+02,1.900000e+01

In [11]:
100 * (train.isnull().sum() / len(train))

building_id            0.000000
meter                  0.000000
timestamp              0.000000
meter_reading          0.000000
site_id                0.000000
primary_use            0.000000
square_feet            0.000000
year_built            59.990033
floor_count           82.652772
air_temperature        0.478124
cloud_coverage        43.655131
dew_temperature        0.495348
precip_depth_1_hr     18.544739
sea_level_pressure     6.092515
wind_direction         7.167792
wind_speed             0.710701
dtype: float64

In [12]:
#Dropping unused columns in test1 (decreasing null values)
train = train.drop(columns=['year_built', 'floor_count', 'wind_direction', 'dew_temperature'])

In [13]:
#Replace Null values
#train_x['precip_depth_1_hr'].fillna(method='ffill', inplace = True)
#train_x['cloud_coverage'].fillna(method='bfill', inplace = True)
train['air_temperature'].fillna(train['air_temperature'].mean(), inplace = True)
train['cloud_coverage'].fillna(train['cloud_coverage'].mean(), inplace = True)
train['precip_depth_1_hr'].fillna(train['precip_depth_1_hr'].mean(), inplace = True)
train['sea_level_pressure'].fillna(train['sea_level_pressure'].mean(), inplace = True)
train['wind_speed'].fillna(train['wind_speed'].mean(), inplace = True)

100 * (train.isnull().sum() / len(train))

building_id           0.0
meter                 0.0
timestamp             0.0
meter_reading         0.0
site_id               0.0
primary_use           0.0
square_feet           0.0
air_temperature       0.0
cloud_coverage        0.0
precip_depth_1_hr     0.0
sea_level_pressure    0.0
wind_speed            0.0
dtype: float64

In [14]:
#Displaying distribution of the meter reading in meters without zeros
#Used log transformation to avoid the skewness of the meter reading
# plt.figure(figsize=(10, 10))

# #Different meter types [0, 1, 2, 3]
# meterTypes = sorted(train['meter'].unique().tolist())

# #Plotting 'meter_reading' distribution for each meter
# for meter_type in meterTypes:
#     subset = train[train['meter'] == meter_type]
#     sns.kdeplot(np.log1p(subset["meter_reading"]), #estimates the density of a variable
#                 label = meter_type, linewidth = 2)  #and creates a smooth curve that represents the probability density of the data.

# #Setting figure information (label, title, legend)
# plt.ylabel("Density")
# plt.xlabel("Meter_reading")
# plt.title("Distribution graph for 'Meter Reading' ", size=13)
# plt.legend(['Electricity', 'Chilled water', 'Steam', 'Hot water'])

In [15]:
train["primary_use"].value_counts()

Education                        8165504
Office                           4394864
Entertainment/public assembly    2264917
Lodging/residential              2146413
Public services                  1662826
Healthcare                        398527
Other                             242222
Parking                           213796
Manufacturing/industrial          125713
Food sales and service            114090
Retail                            112657
Warehouse/storage                 111861
Services                           96519
Technology/science                 77627
Utility                            56203
Religious worship                  32361
Name: primary_use, dtype: int64

In [16]:
#--------Encoding categorical data using Hot Encoder---------
# Create a one-hot encoded DataFrame for the "primary_use" column
primary_use_one_hot_encoded = pd.get_dummies(train['primary_use'], prefix='primary_use')

# Add the one-hot encoded columns to the original DataFrame
train = pd.concat([train, primary_use_one_hot_encoded], axis=1)

train.pop('primary_use')

train

,building_id,meter,timestamp,meter_reading,site_id,square_feet,air_temperature,cloud_coverage,precip_depth_1_hr,sea_level_pressure,...,primary_use_Office,primary_use_Other,primary_use_Parking,primary_use_Public services,primary_use_Religious worship,primary_use_Retail,primary_use_Services,primary_use_Technology/science,primary_use_Utility,primary_use_Warehouse/storage
0,0,0,2016-01-01 00:00:00,0.000,0,7432,25.0,6.000000,0.796416,1019.7,...,0,0,0,0,0,0,0,0,0,0
1,1,0,2016-01-01 00:00:00,0.000,0,2720,25.0,6.000000,0.796416,1019.7,...,0,0,0,0,0,0,0,0,0,0
2,2,0,2016-01-01 00:00:00,0.000,0,5376,25.0,6.000000,0.796416,1019.7,...,0,0,0,0,0,0,0,0,0,0
3,3,0,2016-01-01 00:00:00,0.000,0,23685,25.0,6.000000,0.796416,1019.7,...,0,0,0,0,0,0,0,0,0,0
4,4,0,2016-01-01 00:00:00,0.000,0,116607,25.0,6.000000,0.796416,1019.7,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20216095,1444,0,2016-12-31 23:00:00,8.750,15,19619,1.7,1.900423,-1.000000,1008.5,...,0,0,0,0,0,0,0,0,0,0
20216096,1445,0,2016-12-31 23:00:00,4.825,15,4298,1.7,1.900423,-1.000000,1008.5,...,0,0,0,0,0,0,0,0,0,0
20216097,1446,0,2016-12-31 23:00:00,0.000,15,11265,1.7,1.900423,-1.000000,1008.5,...,0,0,0,0,0,0,0,0,0,0
20216098,1447,0,2016-12-31 23:00:00,159.575,15,29775,1.7,1.900423,-1.000000,1008.5,...,0,0,0,0,0,0,0,0,0,0
20216099,1448,0,2016-12-31 23:00:00,2.850,15,92271,1.7,1.900423,-1.000000,1008.5,...,1,0,0,0,0,0,0,0,0,0

In [17]:
# pop meter_reading column from df and save it to a new variable
meter_reading = train.pop('meter_reading')

# add meter_reading back to train as the last column
train = train.assign(meter_reading=meter_reading)

In [18]:
# train['timestamp'] = pd.to_datetime(train['timestamp'])
# train['Month'] = pd.DatetimeIndex(train['timestamp']).month
# train['Day'] = pd.DatetimeIndex(train['timestamp']).day

#train = train.groupby(['meter', train['building_id'],'primary_use', train['Month'], train['Day']]).agg({'meter_reading':'sum', 'air_temperature': 'mean', 'wind_speed': 'mean', 'precip_depth_1_hr': 'mean', 'cloud_coverage': 'mean', 'square_feet': 'mean'})
train.head()

,building_id,meter,timestamp,site_id,square_feet,air_temperature,cloud_coverage,precip_depth_1_hr,sea_level_pressure,wind_speed,...,primary_use_Other,primary_use_Parking,primary_use_Public services,primary_use_Religious worship,primary_use_Retail,primary_use_Services,primary_use_Technology/science,primary_use_Utility,primary_use_Warehouse/storage,meter_reading
0,0,0,2016-01-01 00:00:00,0,7432,25.0,6.0,0.796416,1019.7,0.0,...,0,0,0,0,0,0,0,0,0,0.0
1,1,0,2016-01-01 00:00:00,0,2720,25.0,6.0,0.796416,1019.7,0.0,...,0,0,0,0,0,0,0,0,0,0.0
2,2,0,2016-01-01 00:00:00,0,5376,25.0,6.0,0.796416,1019.7,0.0,...,0,0,0,0,0,0,0,0,0,0.0
3,3,0,2016-01-01 00:00:00,0,23685,25.0,6.0,0.796416,1019.7,0.0,...,0,0,0,0,0,0,0,0,0,0.0
4,4,0,2016-01-01 00:00:00,0,116607,25.0,6.0,0.796416,1019.7,0.0,...,0,0,0,0,0,0,0,0,0,0.0

In [19]:
train.columns

Index(['building_id', 'meter', 'timestamp', 'site_id', 'square_feet',
       'air_temperature', 'cloud_coverage', 'precip_depth_1_hr',
       'sea_level_pressure', 'wind_speed', 'primary_use_Education',
       'primary_use_Entertainment/public assembly',
       'primary_use_Food sales and service', 'primary_use_Healthcare',
       'primary_use_Lodging/residential',
       'primary_use_Manufacturing/industrial', 'primary_use_Office',
       'primary_use_Other', 'primary_use_Parking',
       'primary_use_Public services', 'primary_use_Religious worship',
       'primary_use_Retail', 'primary_use_Services',
       'primary_use_Technology/science', 'primary_use_Utility',
       'primary_use_Warehouse/storage', 'meter_reading'],
      dtype='object')

In [ ]:
#Scaling features using normalization
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
train['air_temperature'] = train['air_temperature'].astype('float32')
train['square_feet'] = train['square_feet'].astype('float32')
train['sea_level_pressure'] = train['sea_level_pressure'].astype('float32')
train['wind_speed'] = train['wind_speed'].astype('float32')
train['precip_depth_1_hr'] = train['precip_depth_1_hr'].astype('float32')

train.loc[:, ['square_feet', 'air_temperature', 'sea_level_pressure', 'wind_speed', 'precip_depth_1_hr']] = scale.fit_transform(train.loc[:, ['square_feet', 'air_temperature', 'sea_level_pressure', 'wind_speed', 'precip_depth_1_hr']])

In [ ]:
# Convert the "timestamp" column to a datetime object
train['timestamp'] = pd.to_datetime(train['timestamp'])

# Sort the DataFrame by the "timestamp" column
train = train.sort_values('timestamp')

# Split the DataFrame into train and test sets based on the "timestamp" column
test_cutoff = train['timestamp'].max() - pd.DateOffset(months=3)
test = train[train['timestamp'] >= test_cutoff]
train = train[train['timestamp'] < test_cutoff]

In [31]:
#Splitting independent => features, and dependent => label variables 
from sklearn.model_selection import train_test_split
train_x = train.iloc[:, 0:-1] #independent, features
train_y = train.iloc[:, -1] #dependent, label
test_x = test.iloc[:, 0:-1] #independent, features
test_y = test.iloc[:, -1] #dependent, label

In [1]:
print(train_x.dtypes)

NameError: ignored

In [ ]:
#train_features = train_x.drop('timestamp', axis=1)
#train_features

,building_id,meter,site_id,primary_use,square_feet,air_temperature,cloud_coverage,precip_depth_1_hr,sea_level_pressure,wind_speed
0,0,0.0,0,0,7432,25.000000,6.000000,0.467038,1019.700000,0.000000
1,1,0.0,0,0,2720,25.000000,6.000000,0.467038,1019.700000,0.000000
2,2,0.0,0,0,5376,25.000000,6.000000,0.467038,1019.700000,0.000000
3,3,0.0,0,0,23685,25.000000,6.000000,0.467038,1019.700000,0.000000
4,4,0.0,0,0,116607,25.000000,6.000000,0.467038,1019.700000,0.000000
...,...,...,...,...,...,...,...,...,...,...
1825246,929,1.0,9,0,199628,15.000000,0.000000,0.000000,1010.700000,1.500000
1825247,929,2.0,9,0,199628,15.000000,0.000000,0.000000,1010.700000,1.500000
1825248,930,0.0,9,6,20917,15.000000,0.000000,0.000000,1010.700000,1.500000
1825249,931,0.0,9,0,216050,15.000000,0.000000,0.000000,1010.700000,1.500000
1825250,931,NaN,9,0,216050,4.009637,1.898556,0.467038,1016.969177,3.520286

# Data Modeling

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout

In [ ]:
def ReshapeData(train, window_size)
  trainX = []
  trainY = []

  n_past = 20 #20 values will be considered to predict the next values
  n_fut = 100 #for predicting the next 100 value based on previous 20 values


  #Adding the values to trainX and trainY lists
  for i in range(n_past, len(train_features) - n_fut + 1):
      trainX.append(train_features[i-n_past:i,0:train_features.shape[1]])
      trainY.append(train_features[i+n_fut-1:i+n_fut,0])

  #Converting into numpy arrays
  trainX, trainY = np.array(trainX), np.array(trainY)

  print('trainX shape == {}'.format(trainX.shape))#Knowing the shape 
  #(364,20,4) means there are 364windows(groups) of 20*4


  print('trainY shape == {}'.format(trainY.shape))
  #There are 364 values from previous values

trainX shape == (1825132, 20, 10)
trainY shape == (1825132, 1)

In [ ]:
print(train_features.shape)

(1825251, 10)

In [ ]:
model=Sequential()
model.add(LSTM(32,activation='relu',input_shape=(trainX.shape[1],trainX.shape[2]),return_sequences=True))
model.add(Dropout(0.3))

model.add(LSTM(32,activation='relu',return_sequences=True))
model.add(Dropout(0.3))

model.add(LSTM(32,activation='relu',return_sequences=False))
model.add(Dropout(0.3))

model.add(Dense(trainY.shape[1]))

model.compile(optimizer='adam',loss='mse')
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 20, 32)            5504

 dropout (Dropout)           (None, 20, 32)            0

 lstm_1 (LSTM)               (None, 20, 32)            8320

 dropout_1 (Dropout)         (None, 20, 32)            0

 lstm_2 (LSTM)               (None, 32)                8320

 dropout_2 (Dropout)         (None, 32)                0

 dense (Dense)               (None, 1)                 33

=================================================================
Total params: 22,177
Trainable params: 22,177
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(trainX, trainY, epochs=30, batch_size=5, validation_split=0.2, verbose=1)

In [ ]:
plt.plot(history.history['loss'],label='Training loss')
plt.plot(history.history['val_loss'],label='Validation Loss')
plt.legend()